In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.model_selection import train_test_split

In [0]:
dataset_train=pd.read_csv('Train_dataset.csv')
dataset_train.head()
#dataset.describe()
dataset_train.count()

people_ID                 10714
Region                    10714
Gender                    10714
Designation               10714
Name                      10694
Married                   10714
Children                  10403
Occupation                 9967
Mode_transport            10711
cases/1M                  10714
Deaths/1M                 10714
comorbidity               10488
Age                       10714
Coma score                10714
Pulmonary score           10714
cardiological pressure    10617
Diuresis                   9998
Platelets                  9790
HBB                       10698
d-dimer                    9600
Heart rate                 9600
HDL cholesterol           10679
Charlson Index            10714
Blood Glucose             10714
Insurance                  9624
salary                    10714
FT/month                   9991
Infect_Prob               10714
dtype: int64

In [0]:
dataset_test=pd.read_csv('Test_dataset.csv')
dataset_test.head()
#dataset.describe()
dataset_test.count()

people_ID                 14498
Region                    14498
Gender                    14498
Designation               14498
Name                      14466
Married                   14498
Children                  14498
Occupation                14498
Mode_transport            14498
cases/1M                  14498
Deaths/1M                 14498
comorbidity               14498
Age                       14498
Coma score                14498
Pulmonary score           14498
cardiological pressure    14498
Diuresis                  14498
Platelets                 14498
HBB                       14498
d-dimer                   14498
Heart rate                14498
HDL cholesterol           14498
Charlson Index            14498
Blood Glucose             14498
Insurance                 14498
salary                    14498
FT/month                  14498
dtype: int64

In [0]:
def data_clean(data):
    
    # Let's first remove all missing value features
    columns_to_remove = ['people_ID','Designation','Name','d-dimer','Heart rate','Platelets','Insurance','Occupation','salary','Region','Pulmonary score']

    columns_to_retain = list(set(data.columns)-set(columns_to_remove))
    data = data[columns_to_retain]

    return data

In [0]:
# dataset.Gender[dataset.Gender == 'Male'] = 1
# dataset.Gender[dataset.Gender == 'Female'] = 2

# dataset.Region[dataset.Region == 'Bhubaneshwar'] = 1
# dataset.Region[dataset.Region == 'Chandigarh'] = 2
# dataset.Region[dataset.Region == 'Chennai'] = 3
# dataset.Region[dataset.Region == 'Delhi'] = 4
# dataset.Region[dataset.Region == 'Bengaluru'] = 5

# dataset.Occupation[dataset.Occupation == 'Farmer'] = 1
# dataset.Occupation[dataset.Occupation == 'Cleaner'] = 2
# dataset.Occupation[dataset.Occupation == 'Driver'] = 3
# dataset.Occupation[dataset.Occupation == 'Manufacturing'] = 4
# dataset.Occupation[dataset.Occupation == 'Clerk'] = 5
# dataset.Occupation[dataset.Occupation == 'Sales'] = 6
# dataset.Occupation[dataset.Occupation == 'Business'] = 7
# dataset.Occupation[dataset.Occupation == 'Researcher'] = 8
# dataset.Occupation[dataset.Occupation == 'Legal'] = 9

#dataset.count()

In [0]:
dataset_train = data_clean(dataset_train)
dataset_train = pd.get_dummies(dataset_train)

dataset_test = data_clean(dataset_test)
dataset_test = pd.get_dummies(dataset_test)

In [0]:
dataset_train.fillna(method ='pad', inplace=True)

In [0]:
# print(dataset_train.loc[10707].astype('int'))
dataset_train.describe()

        Infect_Prob      cases/1M  ...  Gender_Female   Gender_Male
count  10714.000000  10714.000000  ...   10714.000000  10714.000000
mean      52.280680      3.285888  ...       0.506160      0.493840
std       10.674667      2.721274  ...       0.499985      0.499985
min       29.289600      1.000000  ...       0.000000      0.000000
25%       47.277426      2.000000  ...       0.000000      0.000000
50%       49.008389      2.000000  ...       1.000000      0.000000
75%       52.762313      4.000000  ...       1.000000      1.000000
max       97.632000      8.000000  ...       1.000000      1.000000

[8 rows x 27 columns]

In [0]:

X=dataset_train.drop('Infect_Prob',axis=1)
y=dataset_train['Infect_Prob']
X_actual_test = dataset_test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [0]:
# y_test = int(y_test)
y_train = y_train.astype('int')
y_train.head()

744     44
3298    50
6444    49
3497    48
9085    48
Name: Infect_Prob, dtype: int64

In [0]:
y_test = y_test.astype('int')
y_test.head()

10307    47
6705     48
304      47
9142     46
10591    97
Name: Infect_Prob, dtype: int64

In [0]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)
lm.score(X_test,y_test)

0.26892988193064793

In [0]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
logmodel.score(X_test,y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

0.17760180995475114

In [0]:
print(y_train)

744     44
3298    50
6444    49
3497    48
9085    48
        ..
5734    37
5191    54
5390    53
860     48
7270    50
Name: Infect_Prob, Length: 7178, dtype: int64

In [0]:
y_pred=logmodel.predict(X_actual_test)
print(y_pred)
print(y_pred.var())

[47 47 47 ... 46 46 58]
40.68111417311574